<header>
  <h2>{{#if id}}Edit{{else}}Create{{/if}} Bracket</h2>
</header>
<form action="/me/{{#if id}}edit/{{perma}}{{else}}create{{/if}}/" method="post" class="form">

    <div class="input-group">
      <label for="bracketName">Bracket Name:</label>
      <input type="text" name="name" id="bracketName" value="{{name}}" />
    </div>

    <div class="input-group">
      <label for="blurb">Short description</label>
      <p class="note">Used for featured brackets</p>
      <textarea name="blurb" id="blurb" class="short" maxlength="255">{{blurb}}</textarea>
    </div>

    <div class="input-group">
      <label for="rules">Rules/Intro text:</label>
      <p class="note">You may use <a href="http://markdowntutorial.com/" target="_blank">simple markdown</a> for formatting</p>
      <textarea name="rules" id="rules">{{rules}}</textarea>
    </div>

    <div class="input-group">
      <label for="advanceHour">When would you like bracket rounds to advance (for eliminations and bracket voting)?</label>
      <select name="advanceHour" id="advanceHour">
          {{#each times}}
              <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
          {{/each}}
      </select>
    </div>

    <div class="input-group">
      <label for="minAge">Restrict voting to users with reddit accounts of the following age or older:</label>
      <select name="minAge" id="minAge">
          {{#each ages}}
              <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
          {{/each}}
      </select>
    </div>

    <div class="input-group">
      <label for="nameLabel">"Character name" field label:</label>
      <input type="text" id="nameLabel" name="nameLabel" value="{{#if nameLabel}}{{nameLabel}}{{else}}Character name{{/if}}" />
    </div>

    <div class="input-group hide-source">
      <input type="checkbox" name="hideSource" id="hideSource" {{#if sourceHidden}}checked{{/if}} />
      <label for="hideSource" class="toggle">Show source field?</label>
      <div class="source">
          <label for="sourceLabel">"Source" field label:</label>
          <input type="text" id="sourceLabel" name="sourceLabel" value="{{#if sourceLabel}}{{sourceLabel}}{{else}}Source{{/if}}" />
      </div>
    </div>

    {{#if id}}
        <input type="hidden" name="bracketId" value="{{id}}" />
    {{/if}}

    <button class="small-button" type="submit">{{#if id}}Update{{else}}Create{{/if}} Bracket</button>

</form>