<header>
  <h2>Unprocessed Nominees - <span>{{bracket.name}}</span></h2>
</header>
<div class="characters">
  <table data-bracket="{{bracket.perma}}" data-type="nominee">
    <thead>
      <th></th>
      <th>Name</th>
      <th>Source</th>
      <th></th>
    </thead>
    <tbody>
      {{#each nominees}}
        <tr data-id="{{id}}">
          <td class="image">
            <img src="{{image}}" alt="{{name}}" />
          </td>
          <td class="name">
            <input type="text" name="name" value="{{name}}" />
          </td>
          <td class="source">
            <input type="text" name="source" value="{{source}}" />
          </td>
          <td>
            <button class="delete" name="action" value="delete">Delete</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>