<header>
  <h2>Process Nominees - {{bracket.name}}</h2>
  <div class="top-actions">
    <a href="/me/process/{{bracket.perma}}/nominees/" target="_blank">View All Unprocessed Nominees</a>
  </div>
</header>

{{#if nominee}}

  <p class="message {{#if message}}success{{else}}hidden{{/if}}">{{message}}</p>

  <div class="nominee">
    <div class="col2">
      <h3>Process Manually</h3>
      <div class="form">
        <form action="/me/process/{{bracket.perma}}/nominee/" method="post" enctype="multipart/form-data">
          <div class="image">
            <img src="{{nominee.image}}" />
            <button type="button" id="changeImage">Change Image</button>
          </div>
          <div class="inputs">
            <div class="input-group">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" value="{{nominee.name}}" />
            </div>
            <div class="input-group">
              <label for="source">Source</label>
              <input type="text" name="source" id="source" value="{{nominee.source}}" />
            </div>
            <div class="buttons">
              <button class="small-button">Add to Bracket</button>
              <button class="small-button delete" value="ignore">Delete</button>
              <input type="hidden" name="id" value="{{nominee.id}}" />
              <input type="hidden" name="bracketId" value="{{bracket.id}}" />
              <input type="hidden" name="imageFile" value="{{nominee.image}}" />
            </div>
          </div>
        </form>
      </div>
    </div>

    {{#if hasSimilar}}
      <div class="col2">
        <h3>Copy a Similar Entrant</h3>
        <table>
          <thead>
            <tr>
              <th class="thumb"></th>
              <th></th>
            </tr>
          </thead>
          {{#if characters}}
            {{#each characters}}
              <tr>
                <td class="thumb">
                  <a class="thumb" style="background-image:url({{image}})" href="{{image}}" target="_blank">Thumbnail</a>
                </td>
                <td>
                  <span {{#if thisBracket}}class="this-bracket"{{/if}}>{{name}}</span>
                  <span class="bracket-name">{{source}}</span>
                </td>
                <td class="action">
                  <form action="/me/process/{{bracket.perma}}/nominee/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{nominee.id}}" />
                    {{#if thisBracket}}
                      <input type="hidden" name="ignore" value="true" />
                      <button type="submit" class="small-button" data-name="{{name}}" data-source="{{source}}" data-image="{{image}}">Copy</button>
                    {{else}}
                      <input type="hidden" name="name" value="{{name}}" />
                      <input type="hidden" name="source" value="{{source}}" />
                      <input type="hidden" name="imageFile" value="{{image}}" />
                      <button type="submit" class="small-button" data-name="{{name}}" data-source="{{source}}" data-image="{{image}}">Copy</button>
                    {{/if}}
                  </form>
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </table>
      </div>
    {{/if}}

    <div class="overlay">
      <div class="modal">
        <div class="cropper">
          <img src="{{nominee.image}}" />
        </div>
        <div class="side">
          <h3>Edit Image</h3>
          <p>All images must be 150x150 px. Use the tool to the left to crop your picture or upload a custom one.</p>
          <label for="upload" class="button">Upload Image</label>
          <input type="file" name="upload" id="upload" />
          <div class="buttons">
            <button type="button" class="crop-submit">Done</button>
            <button type="button" class="cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{{else}}
  <p class="message success">There are currently no nominees to be processed.</p>
{{/if}}