<div class="bracket-nav">
  <ul class="bracket-nav__list">
    {{#isBracketNominations bracket}}
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/nominate/{{bracket.perma}}/">Nominate</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/characters/{{bracket.perma}}/">Entrants</a>
      </li>
    {{/isBracketNominations}}

    {{#isBracketEliminations bracket}}
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/vote/{{bracket.perma}}/">Vote</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/characters/{{bracket.perma}}/">Entrants</a>
      </li>
    {{/isBracketEliminations}}

    {{#isBracketVoting bracket}}
      <li class="bracket-nav__item"i>
        <a class="bracket-nav__link" href="/vote/{{bracket.perma}}/">Vote</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/characters/{{bracket.perma}}/">Entrants</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/results/{{bracket.perma}}/">Bracket Results</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/stats/{{bracket.perma}}/">Entrant Stats</a>
      </li>
    {{/isBracketVoting}}

    {{#isBracketFinal bracket}}
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/characters/{{bracket.perma}}/">Entrants</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/results/{{bracket.perma}}/">Bracket Results</a>
      </li>
      <li class="bracket-nav__item">
        <a class="bracket-nav__link" href="/stats/{{bracket.perma}}/">Entrant Stats</a>
      </li>
    {{/isBracketFinal}}
  </ul>
</div>