{{#if cardImage}}
    <img src="{{cardImage}}" alt="{{name}}" class="card-image" />
{{else}}
    {{#if entrants}}
        <div class="card-entrants">
            <div class="inner">
                {{#each entrants}}
                    <img src="//cdn.awwni.me/bracket/{{image}}" alt="{{name}}" title="{{name}}" />
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="card-entrants">
            <img src="/static/images/no_card_image.png" alt="no image" class="no-image" />
        </div>
    {{/if}}
{{/if}}