{{#if cardImage}}
    <img src="{{cardImage}}" alt="{{name}}" class="card-image" />
{{else}}
    {{#if entrants}}
        <div class="card-entrants{{#if winner}} has-winner{{/if}}">
            <div class="inner">
                {{#each entrants}}
                    <img src="{{image}}" alt="{{name}}" title="{{name}}" />
                {{/each}}
            </div>
            {{#if winner}}
                <div class="winner">
                    <img src="{{winner.image}}" alt="{{winner.name}}" />
                    <h3>
                        {{winner.name}}
                        <span>Winner</span>
                    </h3>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="card-entrants">
            <img src="/static/images/no_card_image.png" alt="no image" class="no-image" />
        </div>
    {{/if}}
{{/if}}