<h3>{{#if header}}{{header}}{{else}}Entrant Roster{{/if}} - {{characters.length}} entrants</h3>

<ul class="characters mini-card-container">
    {{#each characters}}
        <li class="mini-card">
            <div class="mini-card__content">
                <img
                    src="{{image}}"
                    alt="{{name}}"
                    class="mini-card__image"
                />
                <div class="mini-card__name">{{name}}</div>
                <div class="mini-card__source">{{source}}</div>
            </div>
            {{#if meta}}
                <a
                    class="mini-card__meta mini-card__meta--{{meta.type}}"
                    href="{{meta.link}}"
                    target="_blank"
                >
                    {{metaLabel meta}}
                </a>
            {{/if}}
        </li>
    {{/each}}
</ul>
