<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/dist/styles{{#if USE_MIN}}.min{{/if}}.css?{{CSS_VERSION}}" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body id="page-{{page}}">
        {{>_nav}}
        {{#if bracketNav}}
            {{>_bracketNav bracket=bracketNav}}
        {{/if}}
        <div id="content">
            {{{content}}}

            {{#if showAd}}
                {{>_ad}}
            {{/if}}

        </div>

        <footer>
            <p>animebracket.com by <a href="http://dxprog.com/" target="_blank">Matt Hackmann</a>. Source code available on <a href="https://github.com/dxprog/anime-bracket" target="_blank">GitHub</a></p>
        </footer>
        <script type="text/javascript" src="/dist/brakkit{{#if USE_MIN}}.min{{/if}}.js?{{JS_VERSION}}"></script>
        {{>_google_analytics}}
    </body>
</html>
