<div class="pair {{direction}}" style="left: {{x}}px; top: {{y}}px; -webkit-animation-delay: {{fadeDelay}}s; animation-delay: {{fadeDelay}}s;">
    <svg width="150" height="150" class="first" style="clip-path: url(#hexagon);">
        <image xlink:href="{{character1.image}}" width="150" height="150" />
    </svg>
    <svg width="150" height="150" class="last" style="clip-path: url(#hexagon);">
        <image xlink:href="{{character2.image}}" width="150" height="150" />
    </svg>
</div>