<ol class="tier left winner">
    <li class="round single-entrant">
        <div data-id="{{entrant.id}}" class="winner" style="height:{{height}}px;">
            <dl>
                <dt>Image</dt>
                <dd><img src="{{entrant.image}}" alt="{{entrant.name}}" /></dd>
                <dt>Name</dt>
                <dd><h2>{{entrant.name}}</h2></dd>
            </dl>
        </div>
    </li>
</ol>