<h2>My Brackets</h2>

{{#if message}}
    <p class="message {{message.type}}">{{message.message}}</p>
{{/if}}

<div class="top-actions">
    <a href="/me/create/" class="button">Create a New Bracket</a>
</div>
<ul class="brackets">
    {{#each brackets}}
        {{#isBracketNotHidden .}}
            <li class="bracket-card">
                {{>_card_image}}
                <div class="info">
                    <div class="title">
                        <h3>{{name}}</h3>
                        <h4>
                            {{#hasNotStarted .}}Not started{{/hasNotStarted}}
                            {{#isBracketVoting .}}Voting{{/isBracketVoting}}
                            {{#isBracketEliminations .}}Eliminations{{/isBracketEliminations}}
                            {{#isBracketNominations .}}Nominations{{/isBracketNominations}}
                            {{#isBracketFinal .}}Finished{{/isBracketFinal}}
                        </h4>
                        <a href="/me/edit/{{perma}}/" class="edit">Edit</a>
                        {{#isBracketFinal .}}{{else}}
                            <a href="/me/delete/{{perma}}/" class="delete">Delete</a>
                        {{/isBracketFinal}}
                    </div>
                    <ul class="actions">
                        {{#hasNotStarted .}}
                            <li><a href="/me/start/{{perma}}/nominations/">Start Nominations</a></li>
                        {{/hasNotStarted}}
                        {{#isBracketNominations .}}
                            <li><a href="/me/process/{{perma}}/nominations/">Process Nominees</a></li>
                            <li><a href="/me/process/{{perma}}/characters/">Edit Entrants</a></li>
                            <li><a href="/me/start/{{perma}}/eliminations/">Begin Eliminations</a></li>
                        {{/isBracketNominations}}
                        {{#isBracketEliminations .}}
                            <li><a href="/me/process/{{perma}}/characters/">Edit Entrants</a></li>
                            {{#if showAdvance}}
                                <li><a href="/me/advance/{{perma}}/">Advance to Next Round</a></li>
                            {{/if}}
                            {{#if showStart}}
                                <li><a href="/me/start/{{perma}}/voting/">Begin Bracket</a></li>
                            {{/if}}
                            <li><a href="/me/stats/{{perma}}/">Voting Stats</a></li>
                        {{/isBracketEliminations}}
                        {{#isBracketVoting .}}
                            <li><a href="/me/advance/{{perma}}/">Advance to Next Round</a></li>
                            <li><a href="/me/process/{{perma}}/characters/">Edit Entrants</a></li>
                            <li><a href="/me/stats/{{perma}}/">Voting Stats</a></li>
                        {{/isBracketVoting}}
                        {{#isBracketFinal .}}
                            <li><a href="/me/stats/{{perma}}/">Voting Stats</a></li>
                        {{/isBracketFinal}}
                    </ul>
                </div>
            </li>
        {{/isBracketNotHidden}}
    {{/each}}
</ul>
