<h2>My Brackets</h2>

{{#if message}}
    <p class="message {{message.type}}">{{message.message}}</p>
{{/if}}

<div {{#if brackets}}class="top-actions"{{/if}}>
    <a href="/me/create/" {{#unless brackets}}class="button"{{/unless}}>Create a New Bracket</a>
</div>
<ul class="brackets">
    {{#each brackets}}
        {{#isBracketNotHidden .}}
            <li>
                <img src="{{#if entrants}}{{entrants.0.image}}{{else}}/static/images/no_card_image.png{{/if}}" />
                <div class="info">
                    <h3>{{name}} - {{title}}</h3>
                    {{#hasNotStarted .}}
                        <a href="/me/start/{{perma}}/nominations/" class="button">Start Nominations</a>
                    {{/hasNotStarted}}
                    {{#isBracketNominations .}}
                        <a href="/me/process/{{perma}}/nominations/" class="button">Process Nominees</a>
                        <a href="/me/process/{{perma}}/characters/" class="button">Edit Entrants</a>
                        <a href="/me/start/{{perma}}/eliminations/" class="button">Begin Eliminations</a>
                    {{/isBracketNominations}}
                    {{#isBracketEliminations .}}
                        <a href="/me/process/{{perma}}/characters/" class="button">Edit Entrants</a>
                        {{#if showAdvance}}
                            <a href="/me/advance/{{perma}}/" class="button">Advance to {{nextTitle}}</a>
                        {{/if}}
                        {{#if showStart}}
                            <a href="/me/start/{{perma}}/voting/" class="button">Begin Bracket</a>
                        {{/if}}
                        <a href="/me/stats/{{perma}}/" class="button">Voting Stats</a>
                    {{/isBracketEliminations}}
                    {{#isBracketVoting .}}
                        <a href="/me/advance/{{perma}}/" class="button">Advance to {{nextTitle}}</a>
                        <a href="/me/process/{{perma}}/characters/" class="button">Edit Entrants</a>
                        <a href="/me/stats/{{perma}}/" class="button">Voting Stats</a>
                        <a href="/me/rollback/{{perma}}/" class="button delete">Rollback</a>
                    {{/isBracketVoting}}
                    {{#isBracketFinal .}}
                        <a href="/me/stats/{{perma}}/" class="button">Voting Stats</a>
                    {{/isBracketFinal}}
                    {{#isBracketFinal .}}{{else}}
                        <a href="/me/delete/{{perma}}/" class="button delete">Delete</a>
                        <a href="/me/edit/{{perma}}/" class="button edit">Edit Bracket</a>
                    {{/isBracketFinal}}
                </div>
            </li>
        {{/isBracketNotHidden}}
    {{/each}}
</ul>
