<h2>{{#if id}}Edit{{else}}Create{{/if}} Bracket</h2>
<form action="/me/{{#if id}}edit/{{perma}}{{else}}create{{/if}}/" method="post" class="form">

    <label for="bracketName">Bracket Name:</label>
    <input type="text" name="bracketName" id="bracketName" value="{{name}}" />

    <label for="rules">Rules/Intro text:</label>
    <p class="foot">You may use <a href="https://help.github.com/articles/markdown-basics" target="_blank">simple markdown</a> for formatting</p>
    <textarea name="rules" id="rules">{{rules}}</textarea>

    <label for="advanceHour">When would you like bracket rounds to advance (for eliminations and bracket voting)?</label>
    <select name="advanceHour" id="advanceHour">
        {{#each times}}
            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
        {{/each}}
    </select>

    <h3>Nomination Fields:</h3>
    <label for="nameLabel">"Character name" field label:</label>
    <input type="text" id="nameLabel" name="nameLabel" value="{{#if nameLabel}}{{nameLabel}}{{else}}Character name{{/if}}" />

    <input type="checkbox" name="hideSource" id="hideSource" {{#if sourceHidden}}checked{{/if}} />
    <div class="source">
        <label for="sourceLabel">"Source" field label:</label>
        <label for="hideSource" class="toggle"><span class="hide">Hide</span><span class="show">Show</span> source field</label>
        <input type="text" id="sourceLabel" name="sourceLabel" value="{{#if sourceLabel}}{{sourceLabel}}{{else}}Source{{/if}}" />
    </div>

    {{#if id}}
        <input type="hidden" name="bracketId" value="{{id}}" />
    {{/if}}

    <button class="button" type="submit">{{#if id}}Update{{else}}Create{{/if}} Bracket</button>

</form>