<header>
  <h2>{{bracket.name}}</h2>
  <h3>{{title}}</h3>
</header>

<p class="message hidden"></p>

<p class="info">Select all entrants you want to move into the bracket.</p>

<form action="/submit/?action=vote" method="post" id="vote-form">
    <ul class="eliminations mini-card-container">
        {{#each round}}
            <li>
                <input type="checkbox" name="round:{{id}}" id="entrant{{character1.id}}" value="{{character1.id}}" {{#if character1.voted}}checked="checked" disabled="disabled"{{/if}} class="character-input" />
                <label for="entrant{{character1.id}}" class="mini-card">
                    <dl>
                        <dt>Image</dt>
                        <dd class="image"><img src="{{character1.image}}" alt="{{character1.name}}" /></dd>
                        <dt>Name</dt>
                        <dd class="name">{{character1.name}}</dd>
                        <dt>Source</dt>
                        <dd class="source">{{character1.source}}</dd>
                    </dl>
                </label>
            </li>
        {{/each}}
    </ul>

    {{#if showCaptcha}}
        <div class="captcha">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="6LdLPWgUAAAAAMWUFDYKtMFz0ppFaWI6DbEarLjj"></div>
        </div>
    {{/if}}

    <input type="hidden" name="bracketId" value="{{bracket.id}}" />
    <button type="submit" class="button">Submit Votes</button>
</form>