<div class="hero hero--fixed">
	<div class="hero__entrant-bg">
		{{#each featuredCharacters}}
			<img src="{{image}}" alt="{{name}}" />
		{{/each}}
	</div>
	<div class="hero__content">
		<div class="hero__top-four">
			{{#each topFour}}
				<img src="{{image}}" alt="{{name}}" />
			{{/each}}
		</div>
		<div class="hero__text hero__text--inverse">
			<h2>Featured Bracket</h2>
			<h3>{{featuredBracket.name}}</h3>
			<p>{{featuredBracket.blurb}}</p>
			<ul class="hero__links">
				<li>
					<a href="/vote/{{featuredBracket.perma}}" class="small-button">Check It Out</a>
				</li>
				<li>
					<a href="/brackets/" class="inverse-small-button">See Other Brackets</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="hero hero--white hero--fixed">
	<div class="hero__content">
		<div class="hero__text">
			<h2>Make Your Own Bracket!</h2>
			<p>Who’s the Best Girl? Strongest fighter? Cutest couple? These are questions that need answering, AnimeBracket provides the tools. Make it happen!</p>
			<div class="hero__links">
				<a href="/me/" class="small-button">Get Started</a>
			</div>
		</div>
		<div class="hero__tools"></div>
	</div>
</div>

<div class="hero">
	<div class="hero__content">
		<div class="hero__bracket-list">
			<h2>Popular Brackets</h2>
			<ul>
				{{#each topBrackets}}
					<li>
						<img src="{{winner.image}}" alt="{{winner.name}}" />
						<a href="/vote/{{perma}}/">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="hero__bracket-list">
			<h2>Past Brackets</h2>
			<ul>
				{{#each pastBrackets}}
					<li>
						<img src="{{winner.image}}" alt="{{winner.name}}" />
						<a href="/results/{{perma}}/">{{name}}</a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>