<h2>{{bracket.name}}</h2>
<h3>Character Roster - {{characters.length}} entrants</h3>

<ul class="characters mini-card-container">
    {{#each characters}}
        <li class="mini-card">
            <dl>
                <dt>Image</dt>
                <dd class="image"><img src="{{image}}" alt="{{name}}" /></dd>
                <dt>Name</dt>
                <dd class="name">{{name}}</dd>
                <dt>Source</dt>
                <dd class="source">{{source}}</dd>
            </dl>
        </li>
    {{/each}}
</ul>